/*media queries*/
@media screen and (min-width: 600px) {
  .header {
      font-size: 16px;
      background-size: auto;
  }
}


body{
  background-color: rgb(230, 238, 235);
  margin: 0;
}

/*header*/
.header {
  background-image: url("images/index-1596545886.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px; 
  text-align: center;
  margin-top: 50px;
  color: red;
  font-size: 2rem;
 }

/*navbar*/
.navbar{
  position: absolute;
  top: 0;
  right: 10px;
  display:flex;
  flex-direction: row;
  column-gap: 2rem;
  font-size: 1.5rem;
  }
 
/* The programs of the gym*/
.program{
  display: flex;
  flex-direction: row;
  height: 100%;
  width :100%;
  justify-content: center;
  gap:50px;
  flex-wrap: wrap;
  margin-top: 100px;
  }

  p{
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
  }
  
  .statement {
    margin: 1rem;
    text-align: center;
  }

/*The team of the gym*/
.team{
  text-align: center;
  margin-top: 50px;
}
  .ourteam{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  height: 100%;
  width :100%;
  justify-content: center;
  gap:50px;
  margin-top: 100px;
  }

/*images*/
  img {
    width: 300px;
    height: 200px;
    justify-content: center;
  }

/*Footer*/
  .contact {
  text-align: right;
  padding-right: 20px;
  padding-bottom: 5px;
  font-size: 1.5rem;
}

.socialmedia {
  position: relative;
  top: 150px;
  font-size: 1.5rem;
  color: black;
  padding-left:20px;
}

.fa {
  color: white;
}

.footer {
  background-color: rgb(134, 144, 158);
  color: white;
}
